Добро пожаловать, <%=@user.full_name %> <%= link_to "Выйти", destroy_user_session_path, :method => :delete,class: "exit-link" %>

<%= link_to "Профиль", home_profile_path ,class: "profile-link" %>

<h1 style="text-align:center">Книги</h1>



<div class="book-container">
  <% Book.all.each do |book| %>
    <br>
    <div class="description-book">
      <%= book.name %>
      <div class ="description-book-row">
        <p>
          <%= book.author %>
        </p>
        <p>
          <%= book.year_of_publish %>
        </p>
        <p>
        </p>
      </div>
    </div>
    <br />
  <% end %>
</div>